<%= form_with(model: restaurant) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
        <% restaurant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %><br />
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  
  <% @categories.each do |category| %>
    <button class="btn btn-light"><i class="fas fa-plus"></i> <%= category.name %></button>
  <% end %>

  <div class="form-group">
    <%= form.label :address %><br />
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :about %><br />
    <%= form.text_area :about, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
