<p id="notice"><%= notice %></p>

<% @categories.each do |category| %>
  <button class="btn btn-light"><i class="fas fa-plus"></i> <%= category.name %></button>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @restaurant.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @restaurant.longitude %>
</p>

<p>
  <strong>About:</strong>
  <%= @restaurant.about %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
