<% if admin_signed_in? %>
  <%= render 'admin_dashboards/navbar' %>
    
  <div class="jumbotron text-center">
    <h1><%= @category.name %></h1>
    <%= link_to 'Update', edit_category_path(@category) %> | <%= link_to 'Back', categories_path, class: "btn btn-link" %>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Assigned restaurants
          </div>

          <div class="card-body">
            <div id="all-restaurants">
              <%= render(Restaurants::ListingComponent.with_collection(@category.restaurants)) %>
            </div>
          </div>
        </div>
      </div><!-- end col-md-12-->
    </div><!-- end row -->
  </div><!-- end container -->
<% else %>
  <%= render 'pages/navbar' %>

  <div class="jumbotron text-center">
    <h1><%= @category.name %></h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Assigned restaurants
          </div>

          <div class="card-body">
            <div id="all-restaurants">
              <%= render(Restaurants::ListingComponent.with_collection(@category.restaurants)) %>
            </div>
          </div>
        </div>
      </div><!-- end col-md-12-->
    </div><!-- end row -->
  </div><!-- end container -->
<% end %>